# Dependencies
/node_modules
**/node_modules/

# Build outputs
/.next
**/.next
/dist
**/dist
/build
**/build
/.turbo

# Testing
/coverage

# Env files
.env
**/.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.DS_Store

# Generated
*.tsbuildinfo
ceo_dashboard_project.zip
payload-types.ts
